.text {
    margin-top: 100px;
    margin-left: 100px; 
    display: flex;
    flex-direction: column;
}
.text h1 {
    color: whitesmoke;
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 5px black;
}
span {
    color: rgb(70, 10, 30);
    text-shadow: 2px 2px 5px black;
}
.text p {
    color: whitesmoke;
    text-align: justify;
    width: 450px;
}
.text-column {
    width: 75%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}
.image {
    border-radius: 400px;
}