.profile { 
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   
.profile h1 {
    color: whitesmoke;
    font-size: 40px;
    margin: 0;
    text-shadow: 2px 2px 5px black;
}
span {
    color: rgb(70, 10, 30);
}
.profile p {
    color: whitesmoke;
    text-align: justify;
    width: 60%;
}
.profile-column {
    width: 75%;
    display: flex;
    flex-direction: column;
}
.image {
    border-radius: 50px;
}